.about__container {
  padding: 3rem;
  @include med {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  &-image {
    padding-bottom: 3rem;
    // width: 100%;
    img {
      object-fit: cover;
    }
  }
  &-text {
    text-align: justify;
    font-size: 2rem;
    font-weight: 200;
    p {
      padding-bottom: 3rem;
    }
    .middle-paragraph {
      font-weight: 400;
    }
  }
}
