.card__container {
  width: 70%; // padding: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  &-image {
    justify-content: center;
  }
  &-text {
    padding-top: 1.5rem;
    text-align: center;
  }
  @include small {
    padding: 0 6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
