.consortium__container {
  padding: 9rem 0;

  h1 {
    @include med {
      font-size: 5rem;
    }
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 3rem;
  }

  .cards__container {
    display: flex;
    flex-direction: column;
    padding: 6rem 10rem;

    @include med {
      padding: 6rem 6rem;
      flex-direction: row;
      align-items: baseline;
    }
    @include xxl {
      padding: 3rem 20rem;
    }
    // @include xl {
    //   display: flex;
    //   align-items: baseline;
    //   padding: 3rem 6rem;
    // }
    // @include xxl {
    //   display: flex;
    //   align-items: baseline;
    //   padding: 3rem 55rem;
    // width: 70%;
    // }
  }
}
