.consortium__container {
  padding: 9rem 0;
  @include xxl {
  }
  h1 {
    @include small {
      font-size: 3rem;
    }
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 3rem;
  }

  .cards__container {
    display: flex;
    align-items: baseline;
    padding: 3rem 35rem;
    @include small {
      display: flex;
      flex-direction: column;
      padding: 6rem 10rem;
    }
    @include med {
      padding: 6rem 20rem;
    }
    @include xl {
      display: flex;
      align-items: baseline;
      padding: 3rem 6rem;
    }
    @include xxl {
      display: flex;
      align-items: baseline;
      padding: 3rem 55rem;
      // width: 70%;
      margin: 0;
    }
  }
}
