.opencall__container {
  padding: 3rem;
  h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  &-image {
    padding-bottom: 3rem;
  }
  &-text {
    h1 {
      padding-bottom: 3rem;
    }
    p {
      text-align: justify;
      font-size: 2rem;
      font-weight: 200;
      padding-bottom: 3rem;
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    button {
      background-color: white;
      padding: 1rem 2rem;
    }
  }
}
