.opencall {
  padding: 9rem 6rem;
  background-color: black;
  color: rgb(221, 221, 221);

  h1 {
    font-size: 5rem;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    @include xxl {
      padding-bottom: 3rem;
    }
    // padding-bottom: 6rem;
  }
  &__container {
    padding: 0;
    @include small {
    }
    @include med {
    }
    @include xxl {
      padding: 3rem 0rem;
      display: flex;
      flex-direction: row;
    }

    &-image {
      padding-bottom: 3rem 0;
      display: block;
      @include xxl {
        // width: 250vw;
      }
    }
    &-text {
      padding-top: 6rem;

      @include small {
        padding-top: 6rem;
        padding-left: 0;
      }
      @include med {
        padding-top: 6rem;
        padding-left: 0;
      }
      @include xl {
        padding-top: 6rem;
      }
      @include xxl {
        padding-top: 0rem;
        // width: 50vw;
        padding-left: 6rem;
      }

      p {
        @include small {
          padding-left: 0;
        }
        @include med {
          padding-left: 0;
        }
        @include xl {
          padding-left: 0rem;
        }
        @include xxl {
          padding-top: 0;
        }

        padding-top: 6rem;
        text-align: justify;
        font-size: 2rem;
        font-weight: 200;
        padding-bottom: 3rem;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      padding: 2rem;
      button {
        background-color: transparent;
        border: 1px solid white;
        padding: 1rem 3rem;
        color: white;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
